.content {
	max-width: 75%;
	margin: auto;
	background: white;
	padding: 10px;
}




/* For Header, Footer and Features of HomePage */

.bar > ul {
	background-color: black;
	color: white;
	font-family: helvetica;
	cursor: pointer;
	padding-left: 50px;
	font-size: 150%;
}

.bar > ul > li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 25px;
	position: relative;
	/*	font-size: 150%; */ 
}

.bar > ul > li:hover {
	background-color: grey;
}

ul.drop {
	position: absolute;
	background-color: grey;
	list-style-type: none; 
	width: 250px;
	padding-left: 0px;
	margin-left: -25px;
	padding-top: 5px;
	opacity:0;	
}

ul.drop li {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 50%;
	display: block;
}

.bar li:hover .drop {
	opacity:1;
}

ul.drop li:hover {
	background-color: black;
}

.Acc {
	float: right;
}

.Acc > ul.drop {
	margin-left: -94px;
}

img {
	width: 100%;
	margin-left: auto;
    	margin-right: auto;
}

a:visited {
	color: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a.login{
	background-color: black;
	padding: 10px 15px;
    	margin: 5px 5px;
    	border: none;
    	cursor: pointer;
    	width: 100%;


}

a.valid{
	padding: 10px 10px;
}

.container {
	width: 100%;
	padding: 16px;
}

.aside {
	float: left;
	max-width: 200px;
}

.section {
	margin-left: 210px;
	overflow: hidden;
}

	
.footer > li {
	font-size: 55%;;
}
/* End */


/*  Login Forms  */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.Login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
/* End  */

/* Search Outputs */

#results {
	width: 100%;
	height: 600px;
    	overflow: scroll;
}

.box {
	width: 25%;
	border: 5px solid black;
	padding: 5px;
	margin: 25px;
	float: left;
}
	





