.content {
	max-width: 85%;
	margin: auto;
	background: white;
	padding: 10px;
}


/* For Header, Footer and Features of HomePage */

.bar > ul {
	background-color: black;
	color: white;
	font-family: helvetica;
	cursor: pointer;
	padding-left: 50px;
	font-size: 150%;
}

.bar > ul > li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 25px;
	position: relative;

}

.bar > ul > li:hover {
	background-color: grey;
}

ul.drop {
	position: absolute;
	background-color: grey;
	list-style-type: none; 
	width: 250px;
	padding-left: 0px;
	margin-left: -25px;
	padding-top: 5px;
	visibility: hidden;	
}

ul.drop li {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 50%;
	display: block;
}

.bar li:hover .drop {
	visibility: visible;
}

ul.drop li:hover {
	background-color: black;
}

.Acc {
	float: right;
}

.Acc > ul.drop {
	margin-left: -94px;
}

img {
	width: 25%;
	margin-left: auto;
}

img.logo{
	width: 5%;
	float:right;
	margin-right: 83%;


}

p.home{
	margin:auto;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
	
}
	


a:visited {
	color: white;
}


a:link {
	color: white;
	text-decoration: none;
}

a.login{
	background-color: black;
	padding: 10px 15px;
    	margin: 5px 5px;
    	border: none;
    	cursor: pointer;
    	width: 100%;


}

a.valid{
	padding: 10px 10px;
}


.container {
	width: 50%;
	padding: 15px;
	border: solid;
	margin: 30px;
}



.section {
	margin-left: 210px;
	overflow: hidden;
}

aside{
	float: right;
	width: 25%;
	margin-left: 30px;
	margin-top: -1%;
    	border: 3px solid gray;
    	padding: 10 px;	
	background-color:#87CEFA;
	
	
}

.seperate{
	margin-left:60%;
	margin-top: -18%;
	margin-bottom: 15%;
	border: 1px solid black;
	width: 35%;
	padding: 10px;
	
}


a.sign{
	background-color: green;
	border-radius: 25px;
}

article.asics{
	width: 25%;
	margin:auto;
	border:1px solid black;
	padding: 10px;
	background-color: #F0FFFF;
	
	
}

article.nike{
	width: 25%;
	margin-right: 70%;
	margin-top: -7%;
	margin-bottom:10%;
	border:1px solid black;
	padding: 10px;

}

	
.footer > li {
	font-size: 55%;

}



/* End */


/*  Login Forms  */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.Login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* End  */

/* Search Outputs */

div #results {
	width: 100%;
	height: 600px;
    	overflow: scroll;
}

.box {
	width: 200px;
	border: 5px solid black;
	padding: 5px;
	margin: 25px;
	float: left;
}
	


